{% extends 'base_admin.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer un utilisateur</h1>

		{{ include('admin/user/_form.html.twig') }}

		<a href="{{ path('app_admin_user_index') }}" class="btn btn-secondary">Retour</a>
	</div>
{% endblock %}
