<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande de Réinitialisation de Mot de Passe</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        p {
            color: #555;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

    <div class="container">
        <h2>Demande de Réinitialisation de Mot de Passe</h2>
        <p>Cher(e) Client,</p>

        <p>Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte sur GYGY STORE. Si vous n'avez pas effectué cette demande, veuillez ignorer cet e-mail.</p>

        <p>Si vous avez demandé une réinitialisation de mot de passe, veuillez cliquer sur le lien ci-dessous pour créer un nouveau mot de passe :</p>


        <p><a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}">Réinitialiser le Mot de Passe</a></p>

        <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}. Après cela, vous devrez effectuer une nouvelle demande si nécessaire.</p>

        <p>Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>

        <p>Cordialement,<br>L'équipe de GYGY STORE</p>
    </div>

</body>
</html>
