.imgHome{
    display: block;    
    margin: 0 auto;
    
}

.my-8 {
    margin-top: 4.5rem!important;
    margin-bottom: 4.5rem!important;
}

footer {
    /* background-color: #333; */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}