{% extends 'base.html.twig' %}

{% block title %} Conditions Générales de Vente {% endblock %}

{% block body %}
    <div class="container mt-5">
        {{ cgv.description|raw }}
    </div>
{% endblock %}
