<form method="post" action="{{ path('app_montre_delete', {'id': montre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ montre.id) }}">
    <button class="btn">Delete</button>
</form>
