<form method="post" action="{{ path('app_montre_delete', {'id': montre.id}) }}" onsubmit="return confirm('souhaitez-vous vraiment supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ montre.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
