{% extends 'base.html.twig' %}

{% block title %}Edit Montre{% endblock %}

{% block body %}
    <h1>Edit Montre</h1>
    <a class="btn btn-primary" href="{{ path('app_montre_index') }}">Retour</a>

    {{ include('montre/_form.html.twig', {'button_label': 'Modifier'}) }}

    

    
{% endblock %}
