<form method="post" action="{{ path('app_admin_cgv_delete', {'id': cgv.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cgv.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
