{% extends 'base_admin.html.twig' %}

{% block title %}Modifier CGV
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Modifier CGV</h1>

		{{ include('admin/cgv/_form.html.twig', {'button_label': 'Mise à jour'}) }}

		<a href="{{ path('app_admin_cgv_index') }}" class="btn btn-secondary">Retour</a>

		{{ include('admin/cgv/_delete_form.html.twig') }}
	</div>
{% endblock %}
