{% extends "base.html.twig" %}

{% block title %}404 - Page non trouvé{% endblock %}

{% block _footer '' %}

{% block meta_robots %}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown">404 Error</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{{ path('home') }}">Home</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Page introuvable</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->





    <!-- 404 Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1">404</h1>
                    <h1 class="mb-4">Page introuvable !</h1>
                    <p class="mb-4">
                        Nous sommes désolés pour la confusion et espérons que vous trouverez ce que vous cherchez ailleurs sur notre site.
                        <br>
                        Si vous avez besoin de nous, envoyez-nous un message et nous serons heureux de vous aider à trouver ce que vous cherchez.
                        <br>
                        En attendant, bonne chasse et ne vous découragez pas, nous sommes sûrs que vous finirez par trouver ce que vous cherchez !
                    </p>
                    <a class="btn btn-primary py-3 px-5" href="{{ path('front') }}"> Révenir à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}












